a { color: green; text-decoration: none; }
a:hover { color: lightgreen; text-decoration: underline; }

body {
    font-size: 1.25em;
    font-family: 'Merriweather', serif;
    background-color: #ffe;
    margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: green;
    text-decoration: none;
}

.post-title { margin: 0; }
h1 a:hover { color: lightgreen; }

body > main, body > header, body > footer {
    max-width: 42rem;
    margin: 0 auto;
}

#post-list {
    list-style-type: none;
    padding: 0;
}

.post-info {
    font-size: 0.8em;
    color: grey;
}
.post-info a { color: grey; }

#contentinfo {
    font-size: 0.6em;
    padding: 1em;
    margin-top: 1em;
    border-top: solid 1px green;
    text-align: center;
    color: grey;
    font-style: italic;
}

li article { border-bottom: 0.5px dotted lightgrey; margin-bottom: 0.5em; }
li:last-child article {
    border-bottom: 0;
}
p {
    margin: 0.5em 0;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto; /* doesn't actually work */
    word-break: break-word;
    hyphens: auto;
    line-height: 1.2em;
}
small { font-size: 1em; }